<main class="main">
  <header>
    <mat-toolbar color="primary" class="navbar">
      <!-- <img src="assets/logo.png" alt="Logo" class="logo" /> -->
      <h1>Perla d'Occidente</h1>
      <span class="spacer"></span>
      <button mat-button>Dove siamo</button>
      <button mat-button>Contattaci</button>
    </mat-toolbar>
  </header>
    
    <div class="image-container">
      <img src="assets/main.png" alt="Casa Vacanza" class="main-image" />
    </div>
    
    <div class="buttons-container">
      <a mat-button color="primary" href="https://wa.me/yourwhatsapp" target="_blank">WhatsApp</a>
      <a mat-button color="accent" href="https://www.airbnb.it" target="_blank">Airbnb</a>
      <a mat-button color="warn" href="https://www.booking.com" target="_blank">Booking</a>
      <a mat-button color="primary" href="https://www.instagram.com" target="_blank">Instagram</a>
      <a mat-button color="accent" href="https://www.facebook.com" target="_blank">Facebook</a>
    </div>

  <footer>
    <p>&copy; 2025 Perla d'Occidente - Appartamento Vacanza a Marsala. Tutti i diritti riservati.</p>
  </footer>

</main>